
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>XPC Demo</title>
	<script type="text/javascript" src="http://360.75team.com/~wuliang/qwrap/resource/js/apps/core_dom_youa.js"></script>
	<script type="text/javascript" src="http://360.75team.com/~wuliang/qwrap/resource/js/components/xpc/xpc.js"></script>
	<script type="text/javascript" src="http://360.75team.com/~wuliang/qwrap/resource/js/components/twitter/tweet.h.js"></script>
	<script type="text/javascript" src="http://360.75team.com/~wuliang/qwrap/resource/js/components/twitter/tweet_retouch.js"></script>	
    </head>
	<body>
		<div id="test"></div>
		<script type="text/javascript">
			W('#test').receive('XPC.message', function(e) {
				W(this).html(e.data);
				W(this).tweet('XPC.message', '子页面收到了:' + e.data);
			})
		</script>
	</body>
</html>